@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

::-webkit-input-placeholder {
  font-family: inherit;
}

::-moz-placeholder {
  font-family: inherit;
}

:-ms-input-placeholder {
  font-family: inherit;
}

::-ms-input-placeholder {
  font-family: inherit;
}

input,
button,
textarea,
::placeholder {
  font-family: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "ProximaNova";
  font-weight: 400;
  font-size: 15px;
  color: #464646;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@-webkit-keyframes animText {
  0% {
    color: inherit;
  }

  100% {
    color: rgba(255, 255, 255, 0.9);
  }
}

@keyframes animText {
  0% {
    color: inherit;
  }

  100% {
    color: rgba(255, 255, 255, 0.9);
  }
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.btn {
  font-family: "ProximaNova";
  font-weight: 400;
  font-size: 14px;
  line-height: 128.5714285714%;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  height: 60px;
  min-width: 300px;
  padding: 0 5px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._icon {
  width: 23px;
  height: 23px;
}

.header {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: transparent;
}

.header__inner {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__btn {
  position: relative;
  top: 0;
  left: 0;
  z-index: 103;
  width: 33px;
  height: 26px;
  cursor: pointer;
}

.menu-header__btn span {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #BEA67C;
}

.menu-header__btn span:first-child {
  top: 0;
}

.menu-header__btn span:last-child {
  top: auto;
  bottom: 0;
}

.menu-header__btn._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-header__btn._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu-header__btn._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.menu-header__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.5);
  margin: 0px 0px 0px 10px;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 120px;
}

.menu__link {
  line-height: 180%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.logo {
  margin-right: 90px;
}

.logo__link {
  font-size: 36px;
  line-height: 122.2222222222%;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
}

.logo__link::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 28px;
  height: 4px;
  width: 64px;
  background-color: #BEA67C;
  pointer-events: none;
}

.info-header {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(23px, auto);
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.info-header__column {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-header__column:first-child svg {
  fill: rgba(255, 255, 255, 0.5);
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.info-header__column--lang {
  position: relative;
}

.info-header__column--lang svg {
  fill: #A9946E;
  width: 8px;
  height: 8px;
  margin: 0px 0px 0px 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.info-header__column--lang svg._show {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.info-header__lang {
  line-height: 120%;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.info-header__submenu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: calc(100% - 5px);
  left: -5px;
  width: 35px;
  height: auto;
  padding: 5px;
  -webkit-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, top 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, top 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, top 0.3s ease 0s;
}

.info-header__submenu._show {
  top: calc(100% + 5px);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.info-header__item:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.info-header__link {
  line-height: 180%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  position: relative;
}

.intro::before,
.intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro::before {
  z-index: 1;
  background-image: url(../img/intro/bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro::after {
  z-index: 2;
  width: 52%;
  background-color: rgba(0, 0, 0, 0.9);
}

.intro__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 0px 0px 0px;
  position: relative;
  z-index: 10;
}

.intro__title {
  font-size: 100px;
  line-height: 1;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #BEA67C;
}

.intro__title:not(:last-child) {
  margin-bottom: 37px;
}

.intro__btn {
  letter-spacing: 2px;
}

.intro__btn ._icon {
  width: 35px;
  height: 35px;
  fill: #fff;
  margin: 0px 0px 0px 12px;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.intro__btn._anim {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.intro__btn:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  background-color: #fff;
  color: #000;
}

.intro__btn:hover ._icon {
  fill: #000;
}

.intro__scroll {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__scroll ._icon {
  fill: #fff;
}

.intro__scroll._anim {
  -webkit-animation-name: anim;
          animation-name: anim;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.intro__scroll._anim .intro__text {
  -webkit-animation-name: animText;
          animation-name: animText;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.intro__scroll-column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__scroll-column:first-child ._icon {
  width: 20px;
  height: 30px;
}

.intro__scroll-column:nth-child(2) {
  margin: 92px 0px 25px 0px;
  position: relative;
}

.intro__scroll-column:nth-child(2) span {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.intro__scroll-column:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 6px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 75px;
  width: 1px;
}

.intro__scroll-column:nth-child(3) {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.intro__text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.intro__picture img {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: calc(100% + 40px);
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__picture::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: calc(100% + 40px);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
}

.decor {
  padding-top: 100px;
  padding-bottom: 200px;
}

.decor__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.decor__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  position: relative;
}

.decor__item::before {
  content: "01.";
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 3px;
  color: #707070;
}

.decor__item::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: -150px;
  width: 4px;
  height: 51px;
  background-color: #A9946E;
}

.decor__item:not(:last-child) {
  margin-bottom: 270px;
}

.decor__item:nth-child(2)::before {
  content: "02.";
  left: auto;
  right: 0;
}

.decor__item:nth-child(2)::after {
  left: auto;
  right: 35px;
  bottom: -135px;
}

.decor__item:nth-child(2) .item-decor__content {
  max-width: 300px;
  margin: 0 auto;
  text-align: right;
}

.decor__item:nth-child(2) .item-decor__title::before {
  left: auto;
  right: -178px;
}

.decor__item:nth-child(2) .item-decor__text::before {
  left: auto;
  right: -72px;
}

.decor__item:nth-child(2) .item-decor__link {
  left: -48px;
}

.item-decor__content {
  max-width: 400px;
  margin-left: auto;
}

.item-decor__title {
  font-size: 48px;
  line-height: 1;
  color: #010101;
  letter-spacing: 3px;
  position: relative;
}

.item-decor__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-decor__title::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -178px;
  height: 1px;
  width: 150px;
  background-color: #000;
}

.item-decor__text {
  line-height: 166.6666666667%;
  color: #464646;
  margin: 0px 0px 5px 0px;
  position: relative;
}

.item-decor__text::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -72px;
  height: 4px;
  width: 44px;
  background-color: #BEA67C;
}

.item-decor__link {
  font-size: 14px;
  line-height: 1;
  color: #000;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-decor__link span::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -44px;
  background-color: #BEA67C;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 35px;
  height: 1px;
}

.item-decor__link span::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -45px;
  border: solid #BEA67C;
  border-width: 0 3px 3px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px;
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
}

.item-decor__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 44px;
  background-color: #BEA67C;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.item-decor__picture {
  padding: 0px 0px 68% 0px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.item-decor__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.quality {
  padding-bottom: 150px;
}

.quality__container {
  padding: 0 30px;
}

.quality__top:not(:last-child) {
  margin-bottom: 40px;
}

.quality__items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 120px;
}

.top-quality {
  text-align: center;
}

.top-quality__title {
  font-size: 48px;
  line-height: 1;
  color: #000;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 20px 0px;
  position: relative;
}

.top-quality__title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 44px;
  height: 4px;
  background-color: #BEA67C;
}

.top-quality__text {
  max-width: 574px;
  margin: 0 auto;
  line-height: 166.6666666667%;
  color: #636262;
}

.item-quality {
  text-align: center;
}

.item-quality__picture {
  padding: 0px 0px 100% 0px;
  position: relative;
}

.item-quality__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.item-quality__picture::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  height: calc(100% + 30px);
  width: calc(100% + 30px);
  border: 1px solid #E1E1E1;
  border-radius: 50%;
}

.item-quality__btn-play {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-quality__btn-play ._icon {
  fill: #BEA67C;
  width: 68px;
  height: 68px;
  cursor: pointer;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.item-quality__body {
  margin: 40px 0px 0px 0px;
  padding: 12px 0px 0px 0px;
  position: relative;
}

.item-quality__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 25px;
  height: 1px;
  background-color: #BEA67C;
}

.item-quality__text {
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 992px) {
  .menu__link:hover {
    color: #fff;
  }

  .info-header__column:first-child svg:hover {
    fill: #fff;
  }

  .info-header__lang:hover {
    color: #fff;
  }

  .info-header__link:hover {
    color: #fff;
  }

  .item-decor__link:hover {
    color: #7d663e;
  }

  .item-decor__link:hover::before {
    width: 100%;
  }

  .item-decor__picture:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-quality__btn-play ._icon:hover {
    fill: #000;
  }
}

@media (max-width: 1300px) {
  .item-decor__title::before {
    display: none;
  }

  .item-decor__text::before {
    display: none;
  }
}

@media (max-width: 1230px) {
  .btn {
    height: calc(45px + 15 * ((100vw - 320px) / 910));
  }

  .btn {
    min-width: calc(280px + 20 * ((100vw - 320px) / 910));
  }

  .menu__item:not(:last-child) {
    margin-right: calc(0px + 120 * ((100vw - 320px) / 910));
  }

  .logo {
    margin-right: calc(0px + 90 * ((100vw - 320px) / 910));
  }

  .logo__link {
    font-size: calc(24px + 12 * ((100vw - 320px) / 910));
  }

  .logo__link::before {
    width: calc(36px + 28 * ((100vw - 320px) / 910));
  }

  .info-header {
    -webkit-column-gap: calc(12px + 38 * ((100vw - 320px) / 910));
       -moz-column-gap: calc(12px + 38 * ((100vw - 320px) / 910));
            column-gap: calc(12px + 38 * ((100vw - 320px) / 910));
  }

  .intro__title {
    font-size: calc(36px + 64 * ((100vw - 320px) / 910));
  }

  .intro__title:not(:last-child) {
    margin-bottom: calc(25px + 12 * ((100vw - 320px) / 910));
  }

  .intro__scroll {
    margin-top: calc(40px + 30 * ((100vw - 320px) / 910));
  }

  .decor {
    padding-top: calc(80px + 20 * ((100vw - 320px) / 910));
  }

  .decor {
    padding-bottom: calc(30px + 170 * ((100vw - 320px) / 910));
  }

  .decor__item::after {
    bottom: calc(-50px + -100 * ((100vw - 320px) / 910));
  }

  .decor__item:not(:last-child) {
    margin-bottom: calc(30px + 240 * ((100vw - 320px) / 910));
  }

  .decor__item:nth-child(2)::after {
    bottom: calc(-50px + -85 * ((100vw - 320px) / 910));
  }

  .item-decor__title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 910));
  }

  .quality {
    padding-bottom: calc(30px + 120 * ((100vw - 320px) / 910));
  }

  .quality__top:not(:last-child) {
    margin-bottom: calc(25px + 15 * ((100vw - 320px) / 910));
  }

  .quality__items {
    gap: calc(30px + 90 * ((100vw - 320px) / 910));
  }

  .top-quality__title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 1024px) {
  .intro__scroll {
    -webkit-animation-name: anim;
            animation-name: anim;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }

  .intro__scroll .intro__text {
    -webkit-animation-name: animText;
            animation-name: animText;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
}

@media (max-width: 992px) {
  .menu-header__text {
    display: none;
  }

  .item-decor__content {
    max-width: 100%;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-right: 0;
    position: relative;
    z-index: 103;
  }

  .menu__body {
    position: fixed;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: -340%;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
    padding: 120px 15px 30px;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 35px 0px !important;
  }

  .menu__link {
    display: block;
    padding: 15px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
  }

  .intro__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .decor__item:nth-child(2) .item-decor__content {
    max-width: 100%;
    margin: 0px 0px 30px 0px;
  }

  .decor__item:nth-child(2) .item-decor__content {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .decor__item {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-column-gap: initial;
       -moz-column-gap: initial;
            column-gap: initial;
  }

  .decor__item::before,
  .decor__item::after {
    display: none;
  }

  .item-decor__title {
    text-align: center;
  }

  .item-decor__picture {
    margin: 0 -15px;
  }
}